<nav class="navbar sticky-top navbar-expand-lg justify-content-center">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mb-2 mb-lg-0 me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/posts/">Posts</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/contact/">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/categories/">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tags/">Tags</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

